.searchResult{
    display: flex;
    border: red 2px solid;
    margin-left: 20px;
    margin-top: 10px;
    background-color: rgb(250, 220, 250);
}
.container {
    display: flex;
    background-color: rgb(211, 216, 216);
    flex-direction: column;
    width: 400px;
}


.input{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}

.button {
    display: flex;
    background-color: aqua;
    font-size: medium;
    height: 30px;
    align-items:center;
}

.bookSearchImage {
    width: 200px;
    height: 300px;
}