.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 30px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: left;
    margin-left: 10px;
  }
  
  .image-column {
    flex: 1;
  }
  
  .content-column {
    flex: 2;
  }
  
  .article {
    display: flex;
    flex-direction: row;
    border: 2px solid rgb(11, 22, 22);
    width: 700px;
    margin: 0 auto;
    align-items: flex-start;
  }
  
  .imageStyle {
    width: 250px;
    height: 200px;
  }
  
  .buttonStyle {
    width: 150px;
    height: 40px;
    cursor: pointer;
  }
  
  .title {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  
  .center {
    align-items: center;
  }
  