.container-home {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-grow: 4;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    background-color: #b0b1ae57;
    border-radius: 10px;
    padding-left: 0px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.subTitles {
    color: rgb(173, 87, 190);
    font-size: 24px;
    margin-top: 30px;
    width: 90%;
    margin: 0 auto;
    font-variant: small-caps;
    border-radius: 1px;
    text-align: center;
}

.randomBooks {
    color: rgb(35, 93, 150);
    background-color: #f0e3ca;
    background-image: url("/book20.jpeg");
}